<a href="https://colab.research.google.com/github/jikrey123/data-analysis-journey/blob/main/day3_selecting_and_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("california_housing_test.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
#selecting one column
df['total_rooms']

0       3885.0
1       1510.0
2       3589.0
3         67.0
4       1241.0
         ...
2995    1450.0
2996    5257.0
2997     956.0
2998      96.0
2999    1765.0
Name: total_rooms, Length: 3000, dtype: float64

In [ ]:
#selecting multiple columns
import pandas as pd
df = pd.read_csv("california_housing_test.csv")
df.head()
df[['latitude', 'longitude']]

      latitude  longitude
0        37.37    -122.05
1        34.26    -118.30
2        33.78    -117.81
3        33.82    -118.36
4        36.33    -119.67
...        ...        ...
2995     34.42    -119.86
2996     34.06    -118.14
2997     36.30    -119.70
2998     34.10    -117.12
2999     34.42    -119.63

[3000 rows x 2 columns]

In [ ]:
#selecting columns to focus on relevant variables

In [ ]:
#selecting first row by position
df.iloc[0]

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

In [ ]:
df.iloc[5]

longitude              -119.5600
latitude                 36.5100
housing_median_age       37.0000
total_rooms            1018.0000
total_bedrooms          213.0000
population              663.0000
households              204.0000
median_income             1.6635
median_house_value    67000.0000
Name: 5, dtype: float64

In [ ]:
#selecting first ten rows
df.iloc[0:10]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [ ]:
#selecting specific row by label
df.loc[5]

longitude              -119.5600
latitude                 36.5100
housing_median_age       37.0000
total_rooms            1018.0000
total_bedrooms          213.0000
population              663.0000
households              204.0000
median_income             1.6635
median_house_value    67000.0000
Name: 5, dtype: float64

In [ ]:
#checking specific records to understand specific entries

In [ ]:
#filtering with conditions
#numeric condition
df[df['total_rooms']>100]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
...,...,...,...,...,...,...,...,...,...
2994,-117.93,33.86,35.0,931.0,181.0,516.0,174.0,5.5867,182500.0
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
#text condition
df[df['housing_median_age'] == 27.0]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
14,-117.97,33.73,27.0,2097.0,325.0,1217.0,331.0,5.7121,222500.0
112,-117.95,33.63,27.0,2489.0,481.0,1082.0,443.0,5.8777,358800.0
255,-118.86,34.19,27.0,1931.0,261.0,736.0,244.0,6.7805,392900.0
...,...,...,...,...,...,...,...,...,...
2855,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0
2881,-124.14,40.60,27.0,1148.0,206.0,521.0,219.0,4.0250,128100.0
2909,-122.11,37.41,27.0,5110.0,1599.0,2764.0,1482.0,3.4198,351900.0
2957,-118.23,33.91,27.0,1694.0,393.0,1890.0,373.0,3.0341,89100.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0

In [ ]:
#multiple conditions
df[(df["housing_median_age"] > 20) & (df["median_house_value"] >= 300000.0)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
18,-118.88,34.21,26.0,1590.0,196.0,654.0,199.0,6.5851,300000.0
19,-122.59,38.01,35.0,8814.0,1307.0,3450.0,1258.0,6.1724,414300.0
25,-118.03,34.16,36.0,1401.0,218.0,667.0,225.0,7.1615,484700.0
...,...,...,...,...,...,...,...,...,...
2983,-122.54,37.90,48.0,2491.0,460.0,937.0,455.0,4.4375,370000.0
2987,-121.97,37.29,25.0,4096.0,743.0,2027.0,741.0,5.3294,300300.0
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
#filtering houses with median value above $300,000 to analyze expensive properties
high_value_houses = df[df["median_house_value"] >300000]
high_value_houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
19,-122.59,38.01,35.0,8814.0,1307.0,3450.0,1258.0,6.1724,414300.0
25,-118.03,34.16,36.0,1401.0,218.0,667.0,225.0,7.1615,484700.0
27,-118.39,33.99,32.0,2612.0,418.0,1030.0,402.0,6.6030,369200.0