<a href="https://colab.research.google.com/github/jikrey123/data-analysis-journey/blob/main/day5_handling_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("california_housing_test.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
#checking for missing values

In [ ]:
#checking how many missing values exist in each column
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
#calculating percentage of missing data to guide cleaning decisions
(df.isnull().sum() / len(df)) * 100

longitude             0.0
latitude              0.0
housing_median_age    0.0
total_rooms           0.0
total_bedrooms        0.0
population            0.0
households            0.0
median_income         0.0
median_house_value    0.0
dtype: float64

To decide to drop or fill:
drop if missing is very small
fill if missing is important column

In [ ]:
#droping rows with missing values to keep only complete records
df_drop = df.dropna()
df_drop.shape

(3000, 9)

In [ ]:
#filling missing bedroom values with the median to preserve data size
#median is used instead of mean to reduce the impact of outliers
df_fill = df.copy()
df_fill['total_bedrooms'] = df_fill['total_bedrooms'].fillna(
    df_fill['total_bedrooms'].median()
)

In [ ]:
#verifying missing values
df_fill.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

Filling missing values helped preserve the dataset while avoiding bias from extreme values

In [1]:
#using another dataset to practice handling missing values

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#checking for missing values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
#checking percentage of missing values
(df.isnull().sum() / len(df)) * 100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [1]:
#missing value decisions
#age 20%
#cabin 77%
#embarked 0.2%

In [4]:
#age - fill (because age is very important column and 20% is too much to drop. dropping would loose many passengers)
#filling missing age values with median to preserve passengers data
df['Age'] = df['Age'].fillna(df['Age'].median())

In [5]:
#cabin - drop (77% is extremely high and filling will be guesswork)
#dropping cabin column due to excessive missing values
df = df.drop(columns=["Cabin"])

In [6]:
#embarked - fill (only two missing values and dropping rows would be unnecessary)
#filling missing enmarked values with the mode(the most frequent value)
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [7]:
#checking for missing values
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64